exportClasses(clustcat)
exportClasses(parameterscat)
exportClasses(resultscat)
exportClasses(strategycat)
export(clustercat)
exportMethods(plot)
exportMethods(summary)
export(partitioncat)
export(strategycat)
export(summary_dependencies)
importFrom(graphics,plot)
useDynLib(Clustericat)
